.body{
    font-family: 'Roboto', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.link{
    text-decoration: none;
}

.list{
    list-style-type: none;
}

/*HEADER*/

.hero{
   background:#2E2F42; 
}

.header-logo{
   color:#2E2F42;
   font-family: Raleway;
   font-size: 18px;
   font-weight: 800;
   line-height: 21px;
   letter-spacing: 0.03em;
   text-transform: uppercase;
   text-decoration: none;
}

.header-link{
   color: #2E2F42;
   font-family: Roboto;
   font-size: 16px;
   font-style: normal;
   font-weight: 500;
   line-height: 1.5;
   letter-spacing: 0.02em;
   text-decoration: none;
   list-style-type: none;
}

.header-link:hover,
.header-link:focus{
   color: #4D5AE5;
}

.header-cont-inform{}

/*HERO*/

.hero-title{
   color: #FFF;
   text-align: center;
   font-family: Roboto;
   font-size: 56px;
   font-weight: 700;
   line-height: 1.07;
   letter-spacing: 0.02em;
}

.hero-btn{
   color:  #FFF;
   font-family: Roboto;
   font-size: 16px;
   font-weight: 500;
   line-height: 24px;
   letter-spacing: 0.64px;
   background-color: #4D5AE5;
   cursor: pointer;
}

/*ADVANTAGES*/

.advantages{
   background: #FFF;
}

.advantages-list {
}

.advantages-item {
}

.advantages-subtitle {
   color: #2E2F42;
   font-family: Roboto;
   font-size: 20px;
   font-weight: 500;
}

.advantages-item-text {
    color:#434455;
    font-family: Roboto;
    font-size: 16px;
    letter-spacing: 0.02;
}

/*IMG*/

.title-img-doing {
}

.title-doing {
}

.title-img {
}

.title-img-item {
}

